<div class="info">
  <p>Address: <%= @restaurant.address %></p>
  <p>Location: <%= @restaurant.location %></p>
  <p>Category: <%= @restaurant.category %></p>
  <p>Description: <%= @restaurant.description %></p>
  <p>User e-mail: <%= @restaurant.user.email %></p>
</div>
